body {
 background : #404040;
 text-align : center;
 margin : 50px;
 font-family : Verdana;
 scroll-behavior : smooth !important;
}
p {
 color : #000000;
 background-image: linear-gradient(to right, #a1dbe6 , #2badc4);
 filter: drop-shadow(-5px 0px 2px #999cf7);
}
h1 {
 margin : 80px;
 border : 2px #928C6F;
 background : #58d622;
}
li {
 text-align : left;
}
img {
 filter: drop-shadow(10px 10px 4px #928C6F);
}
table {
  text-align : center;
  background : #88de64;
  opacity : 0.9
}
